.errors
{
    position: relative;
    color: black;
    z-index: 100;
}
.success, .info
{
	border: 1px solid black;
	margin-bottom: 30px;
}
.warning
{
	border: 1px solid #f44336;
	margin-bottom: 30px;
}
.error
{
	border: 1px solid #f44336;
	margin-bottom: 30px;
}
h2
{
	color: black;
	font-weight: bold;
}
.fa-toggle-on
{
	display: none;
}
.fa-toggle-on:hover, .fa-toggle-off:hover
{
	cursor: pointer;
}
.fa-remove
{
	padding-top: 4px;
}
.fa-remove:hover
{
	cursor: pointer;
	color: #727272;
}
.tag-lightbox:hover
{
	color: #727272;
	background-color: black;
}
.open-my-sidenav:hover
{
	color: #727272;
}
a:hover
{
	text-decoration: none;
}
.image-small:hover
{
	cursor: pointer;
}
.message
{
	margin-top: 20px;
}