.errors
{
    position: relative;
    color: black;
    z-index: 100;
}
.success, .info
{
	border: 1px solid black;
	margin-bottom: 30px;
	color: black;
}
.warning
{
	border: 1px solid #f44336;
	margin-bottom: 30px;
	color: black;
}
.error
{
	border: 1px solid #f44336;
	margin-bottom: 30px;
	color: black;
}
h2
{
	color: black;
	font-weight: bold;
}
.fa-toggle-on
{
	display: none;
}
.buttons:hover
{
	cursor: pointer;
}
.fa-remove
{
	padding-top: 4px;
}
.fa-remove:hover
{
	cursor: pointer;
	color: #727272;
}
.tag-lightbox:hover
{
	color: #727272;
	background-color: black;
}
.open-my-sidenav:hover
{
	color: #727272;
}
a:hover
{
	text-decoration: none;
}
.image-small:hover
{
	cursor: pointer;
}
.image-lightbox
{
	background: url("/photos/2.gif") 50% no-repeat;
}
.message
{
	margin-top: 20px;
}
.photo-update
{
	margin: 10px 10px 10px 0;
}
ul.pagination
{
	list-style-type: none;
}
ul.pagination li
{
	display: inline-block;
	padding: 15px;
}
.dropdown-content
{
	display: none;
}